<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
<connectionStrings><add name="DBDoeduSamEntities" connectionString="metadata=res://*/model.DBModel.csdl|res://*/model.DBModel.ssdl|res://*/model.DBModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-R0P0EBE\MSSQLSRV;initial catalog=DBDoeduSam;user id=shitov;password=xxXX1234;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>